* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	color: #b9a488;
	background-color: #280f1c;
	min-width: 300px;
}

.perspectiveContainer {
	margin: 0 auto;
	height: 500px; /*This will be overridden in JS*/
	position: relative;
	overflow: hidden;
}

.perspectiveContainer picture, .perspectiveContainer > img {
	position: absolute;
	width: 120%; /*This is redundant from the sizes="120vw" in the html*/

	/*This centers the img within the container*/
	left: 50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%); 
	
}

.perspectiveContainer picture > img {
	width: 100%;
}

#layer1 {
	z-index: 7;
}

#layer2 {
	z-index: 6;
}

#layer3 {
	z-index: 5;
}

#layer4 {
	z-index: 4;
}

#layer5 {
	z-index: 3;
}

#layer6 {
	z-index: 2;
}

#layer7 {
	z-index: 1;
}

#layer8 {
	z-index: 0;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

.mv-style-btns {
	list-style: none;
	text-align: center;
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}

.mv-style-btns li {
	padding: 0;
	margin: 0;
	margin: 15px;
	width: 100px;
	height: 100px;
	display: inline-block;
	vertical-align: top;
}

.mv-style-btn {
	text-align: center;
	height: 100%;
	display: block;
	cursor: pointer;
	background-color: transparent;
	border: #b9a488 solid 3px;
	color: #b9a488;
}

.mv-style-btn:hover,
.mv-style-btn:focus {
	background-color: rgba(185, 164, 136, 0.2);
}

.mv-style-btn.active {
	background-color: #b9a488;
	color: #280f1c;
}